
  
/*************************************************
 *  custom variations overriding defaults in style.css
 **************************************************/

p.caption {
  font-size: 0.8em;
}

/*************************************************
 *  Core
 **************************************************/

html {
  font-size: 13px;
}
@media screen and (min-width: 58em) {
  html {
    font-size: 16px;
  }
}

body {
  font-size: 0.9rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: .5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1rem;
}
h3 {
  font-weight: 700;
  margin-top: 1.5rem;
  font-size: 1rem;
}
h4, h5, h6 {
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1rem;
}

/*************************************************
 *  Home Sections
 **************************************************/

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-section {
  background-color: rgb(255, 255, 255);
  padding: 110px 0 110px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

.home-section:first-of-type {
  padding-top: 50px;
}

.home-section:nth-of-type(even) {
  background-color: rgb(247, 247, 247);
}

@media screen and (max-width: 768px) {
  .home-section {
    padding: 60px 0 60px 0;
  }
  .home-section:first-of-type {
    padding-top: 40px;
  }
}

.section-heading h1 {
  margin: 0 0 10px 0;
}

.section-heading p {
  font-weight: 300;
  font-size: 1rem;
  color: #b2b2b2;
}


/*************************************************
 *  Biography
 **************************************************/

#profile {
  text-align: center;
  padding: 30px 10px;
  position: relative;
}

#profile .portrait {
  background-image: url('../img/portrait.jpg');
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
}

#profile .portrait-title h2 {
  font-size: 1.5em;
  font-weight: 300;
  color: #000000;
  margin: 20px 0 10px 0;
}

#profile .portrait-title h3 {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(0,0,0, 0.54);
  margin: 0px 0 10px 0;
}

#profile ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

#profile .network-icon li {
  margin-right: 10px;
}

#profile .network-icon li:last-of-type {
  margin-right: 0;
}

#profile .network-icon li:hover {
  transform: scale(1.2)
}

.big-icon {
  font-size: 2rem;
}

ul.ul-interests li {
  font-size: 0.9rem;
}

ul.ul-edu {
  list-style: none;
}

ul.ul-edu li {
  position: relative;
  padding: 0px 15px 4px 3px;
}

ul.ul-edu li .description p {
  margin: 0;
}

ul.ul-edu li .description p.course {
  font-size: 0.9rem;
}

ul.ul-edu li .description p.institution {
  font-size: 0.75rem;
  color: rgba(0,0,0,0.6);
}
